In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
rating_data = pd.read_csv("animelist.csv")
anima_data = pd.read_csv("anime.csv")

# To save my Pc time I made a new data where i just fetch anime_id(MAL_ID) and Name so that i can use merge() function on it.
anima_data = anima_data.rename(columns={"MAL_ID": "anime_id"})
anima_contact_data = anima_data[["anime_id", "Name"]]

In [12]:
len(rating_data)

109224747

In [13]:
rating_data = rating_data.merge(anima_contact_data, left_on = 'anime_id', right_on = 'anime_id', how = 'left')
rating_data = rating_data[["user_id", "Name", "anime_id","rating", "watching_status", "watched_episodes"]]

In [14]:
count = rating_data['user_id'].value_counts()
count1 = rating_data['anime_id'].value_counts()
rating_data = rating_data[rating_data['user_id'].isin(count[count >= 500].index)].copy()
rating_data = rating_data[rating_data['anime_id'].isin(count1[count1 >= 200].index)].copy()

In [15]:
combine_movie_rating = rating_data.dropna(axis = 0, subset = ['Name'])
movie_ratingCount = (combine_movie_rating.
     groupby(by = ['Name'])['rating'].
     count().
     reset_index()
     [['Name', 'rating']]
    )

In [16]:
rating_data = combine_movie_rating.merge(movie_ratingCount, left_on = 'Name', right_on = 'Name', how = 'left')
rating_data = rating_data.drop(columns = "rating_x")
rating_data = rating_data.rename(columns={"rating_y": "rating"})

In [17]:
# Encoding categorical data
user_ids = rating_data["user_id"].unique().tolist()
user2user_encoded = {x: i for i, x in enumerate(user_ids)}
user_encoded2user = {i: x for i, x in enumerate(user_ids)}
rating_data["user"] = rating_data["user_id"].map(user2user_encoded)
n_users = len(user2user_encoded)

anime_ids = rating_data["anime_id"].unique().tolist()
anime2anime_encoded = {x: i for i, x in enumerate(anime_ids)}
anime_encoded2anime = {i: x for i, x in enumerate(anime_ids)}
rating_data["anime"] = rating_data["anime_id"].map(anime2anime_encoded)
n_animes = len(anime2anime_encoded)

print("Num of users: {}, Num of animes: {}".format(n_users, n_animes))
print("Min total rating: {}, Max total rating: {}".format(min(rating_data['rating']), max(rating_data['rating'])))

Num of users: 66698, Num of animes: 11812
Min total rating: 138, Max total rating: 60305

In [18]:
g = rating_data.groupby('user_id')['rating'].count()
top_users = g.dropna().sort_values(ascending=False)[:20]
top_r = rating_data.join(top_users, rsuffix='_r', how='inner', on='user_id')

g = rating_data.groupby('anime_id')['rating'].count()
top_animes = g.dropna().sort_values(ascending=False)[:20]
top_r = top_r.join(top_animes, rsuffix='_r', how='inner', on='anime_id')

pivot = pd.crosstab(top_r.user_id, top_r.anime_id, top_r.rating, aggfunc=np.sum)

In [19]:
pivot.fillna(0, inplace=True)

In [20]:
piviot_table = rating_data.pivot_table(index="Name",columns="user_id", values="rating").fillna(0)

In [21]:
from scipy.sparse import csr_matrix
piviot_table_matrix = csr_matrix(piviot_table.values)

In [22]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(metric="cosine", algorithm="brute")
model.fit(piviot_table_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [31]:

def predict():
    random_anime = np.random.choice(piviot_table.shape[0]) # This will choose a random anime name and our model will predict on it.
    random_anime = 7
    print(random_anime)

    query = piviot_table.iloc[random_anime, :].values.reshape(1, -1)
    distance, suggestions = model.kneighbors(query, n_neighbors=6)
    
    for i in range(0, len(distance.flatten())):
        if i == 0:
            print('Recommendations for {0}:\n'.format(piviot_table.index[random_anime]))
        else:
            print('{0}: {1}, with distance of {2}:'.format(i, piviot_table.index[suggestions.flatten()[i]], distance.flatten()[i]))

In [32]:
predict()

7
Recommendations for "Star"t:

1: Shout Our Evidence!, with distance of 0.1623989551091437:
2: Agitation!, with distance of 0.17898515864964504:
3: Issei Kiyuukyoku: Divertimento, with distance of 0.1794972880862502:
4: Ever Green Never End, with distance of 0.2156511917752274:
5: Sayonara Freeway, with distance of 0.21981050239450917:

In [38]:
anima_data.anime_id[anima_data.Name == '"Star"t']

16500    41090
Name: anime_id, dtype: int64

## МОЕ предсказание!

In [42]:
import pandas as pd
import numpy as np
import sqlite3
import re
from collections import Counter

conn = sqlite3.connect('anime.db')
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_row', 200)

df = pd.read_csv('anime.csv', index_col='MAL_ID')
my_anime = pd.read_sql('SELECT * FROM anime', conn)

In [43]:
type_dict = {
    'TV': 'ТВ',
    'Movie': 'Полнометражный фильм',
    'OVA': 'OVA',
    'Special': 'ТВ-спэшл',
    'ONA': 'ONA',
    'Music': 0,
    'Unknown': 0
}
df.Type = df.Type.apply(lambda x: type_dict[x])
df2 = df[(df.Type != 0) & (df.Aired != 'Unknown') & (df.Episodes != 'Unknown')]
df2.Aired = df2.Aired.apply(lambda x: x if len(x) < 15 else x[:15])

C:\Users\PC\AppData\Local\Temp\ipykernel_19672\627347272.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.Aired = df2.Aired.apply(lambda x: x if len(x) < 15 else x[:15])

In [44]:
to_anime_name_list = [el.lower().strip() for el in df.Name.values]
my_anime_name_list = my_anime.name_en.values
to_set = set(to_anime_name_list)
my_set = set(my_anime_name_list)
name_name = my_set & to_set

In [45]:
to_list = [
    (
        name.lower(),
        int(re.findall(r'\d{4,}', date)[0]) if re.findall(r'\d{4,}', date) else 0,
        Type,
        int(Episodes)
        )\
            for name, date, Type, Episodes in zip(
                df2.Name.values,
                df2.Aired.values,
                df2.Type.values,
                df2.Episodes.values
                )
                if name not in name_name
]

In [46]:
my_list = [
    (name, int(date), Type, int(episode)) for name, date, Type, episode in zip(
                my_anime.name_en.values,
                my_anime.release.values,
                my_anime.type.values,
                my_anime.episodes_all.values
                )
                if name not in name_name
]

In [47]:
df3 = pd.DataFrame(to_list)
list_dict = {}

for myName, myYear, myType, myEp in my_list:
    list_ = []
    name_list = list(df3[(df3[1] == myYear) & (df3[2] == myType) & (df3[3] == myEp)][0].values)
    if name_list:
        for word in myName.split():
            for toName in name_list:
                if word in toName:
                    list_.append(toName)
        if list_:
            n, c = Counter(list_).most_common(1)[0]
            list_dict.update({myName: n})

In [48]:
list_duble = [el[0] for el in Counter(list_dict.values()).most_common(29)]
not_duble = [(k, v) for k, v in list_dict.items() if v not in list_duble]
duble = [(k, v) for k, v in list_dict.items() if v in list_duble]

In [49]:
l = [
    ('bokutachi wa benkyou ga dekinai 2nd season', 'bokutachi wa benkyou ga dekinai'),
    ('gintama (2017)', 'gintama.'),		
    ('high school of the dead', 'highschool of the dead'),		
    ('ikoku meiro no croisee the animation', 'ikoku meiro no croisée the animation'),		
    ('kaitou joker 3nd season', 'kaitou joker 3rd season'),	
    ('kuroko no basuke 2', 'kuroko no basket 2nd season'),		
    ('uchuu senkan tiramisu', 'uchuu senkan tiramisù'),		
    ('yuru camp 2nd season', 'yuru camp△ season 2')		
]
not_duble += l

In [50]:
to_dict_encoder = {name.lower().strip() : id for name, id in zip(df.Name.values, df.index)}
my_dict_encoder = {name : id for name, id in zip(my_anime.name_en.values, my_anime.anime_id.values)}

In [51]:
result_dict = {}
for name in name_name:
    result_dict.update({my_dict_encoder[name] : to_dict_encoder[name]})

for my, to in not_duble:
    toId = to_dict_encoder[to]
    if toId not in result_dict.values():
        result_dict.update({my_dict_encoder[my] : to_dict_encoder[to]})

In [52]:
inverted_result_dict = {v: k for k, v in result_dict.items()}

In [88]:
def predict(n):
    random_anime = np.random.choice(piviot_table.shape[0]) # This will choose a random anime name and our model will predict on it.
    random_anime = n
    print(random_anime)

    query = piviot_table.iloc[random_anime, :].values.reshape(1, -1)
    distance, suggestions = model.kneighbors(query, n_neighbors=6)
    
    for i in range(0, len(distance.flatten())):
        if i == 0:
            print('Recommendations for {0}:\n'.format(piviot_table.index[random_anime]))
        else:
            print('{0}: {1}, with distance of {2}:'.format(i, piviot_table.index[suggestions.flatten()[i]], distance.flatten()[i]))

In [129]:
predict(1)

1
Recommendations for "Bungaku Shoujo" Kyou no Oyatsu: Hatsukoi:

1: "Bungaku Shoujo" Memoire, with distance of 0.2728255655632089:
2: "Bungaku Shoujo" Movie, with distance of 0.41644578327285564:
3: Black★Rock Shooter (OVA), with distance of 0.6382134953827137:
4: Kowarekake no Orgel, with distance of 0.6530747144992612:
5: Hanbun no Tsuki ga Noboru Sora, with distance of 0.6557215440553388:

In [85]:
indexes = inverted_result_dict.keys()
true_indexes = {}
for i, name in enumerate(piviot_table.index.to_list()):
    j = anima_data.anime_id[anima_data.Name == name].values[0]
    if j in indexes:
        true_indexes.update({i:inverted_result_dict[j]})
len(true_indexes)

2262

In [98]:
3 in true_indexes.keys()

False

In [154]:
indexes = list(true_indexes.keys())
result = []

for i in indexes:
    count = 0
    id  = true_indexes[i]
    list_ = []
    query = piviot_table.iloc[i, :].values.reshape(1, -1)
    distance, suggestions = model.kneighbors(query, n_neighbors=200)

    for j in range(1, len(distance.flatten())):
        index = suggestions.flatten()[j]

        if index in indexes:     
            count += 1       
            list_.append((int(id), int(true_indexes[index]), count))  
                     
            if count == 20:
                break
    
    result += list_

In [157]:

len(result), len(indexes) * 20

(44656, 45240)

In [156]:
conn = sqlite3.connect('anime.db')
cursor = conn.cursor()
cursor.executemany('INSERT INTO recommendation values(?, ?, ?)', result)
conn.commit()
cursor.close()
conn.close()

In [133]:
result

[(420, 438, 1, 0.2728255655632089),
 (420, 86, 2, 0.6382134953827137),
 (420, 1573, 3, 0.6557215440553388),
 (420, 1541, 4, 0.6589879627453901),
 (420, 373, 5, 0.6637004520350145),
 (420, 1526, 6, 0.6652111329149939),
 (420, 436, 7, 0.6688716902178211),
 (420, 1698, 8, 0.6708644157767671),
 (420, 314, 9, 0.6711037568919007),
 (420, 1552, 10, 0.6714325421509069)]

In [70]:
true_indexes

[8319    20707
 Name: anime_id, dtype: int64,
 5112    7669
 Name: anime_id, dtype: int64,
 5393    8481
 Name: anime_id, dtype: int64,
 4584    6408
 Name: anime_id, dtype: int64,
 4448    6076
 Name: anime_id, dtype: int64,
 11863    33363
 Name: anime_id, dtype: int64,
 12499    34595
 Name: anime_id, dtype: int64,
 16500    41090
 Name: anime_id, dtype: int64,
 16224    40554
 Name: anime_id, dtype: int64,
 16283    40658
 Name: anime_id, dtype: int64,
 2674    2928
 Name: anime_id, dtype: int64,
 2919    3269
 Name: anime_id, dtype: int64,
 3657    4469
 Name: anime_id, dtype: int64,
 425    454
 Name: anime_id, dtype: int64,
 1039    1143
 Name: anime_id, dtype: int64,
 275    299
 Name: anime_id, dtype: int64,
 5717    9332
 Name: anime_id, dtype: int64,
 6193    10390
 Name: anime_id, dtype: int64,
 788    873
 Name: anime_id, dtype: int64,
 29    48
 Name: anime_id, dtype: int64,
 274    298
 Name: anime_id, dtype: int64,
 1816    1994
 Name: anime_id, dtype: int64,
 6529    11375
 Name: anime_id, dtype: int64,
 1349    1487
 Name: anime_id, dtype: int64,
 7239    15219
 Name: anime_id, dtype: int64,
 10270    29978
 Name: anime_id, dtype: int64,
 6613    11755
 Name: anime_id, dtype: int64,
 11487    32737
 Name: anime_id, dtype: int64,
 1439    1583
 Name: anime_id, dtype: int64,
 2900    3234
 Name: anime_id, dtype: int64,
 9864    28761
 Name: anime_id, dtype: int64,
 4168    5525
 Name: anime_id, dtype: int64,
 2512    2730
 Name: anime_id, dtype: int64,
 4434    6060
 Name: anime_id, dtype: int64,
 13833    36745
 Name: anime_id, dtype: int64,
 13834    36746
 Name: anime_id, dtype: int64,
 13835    36747
 Name: anime_id, dtype: int64,
 4986    7374
 Name: anime_id, dtype: int64,
 12230    34052
 Name: anime_id, dtype: int64,
 16625    41380
 Name: anime_id, dtype: int64,
 17404    44881
 Name: anime_id, dtype: int64,
 3978    5133
 Name: anime_id, dtype: int64,
 1406    1549
 Name: anime_id, dtype: int64,
 3374    3914
 Name: anime_id, dtype: int64,
 1732    1901
 Name: anime_id, dtype: int64,
 4693    6682
 Name: anime_id, dtype: int64,
 8303    20557
 Name: anime_id, dtype: int64,
 5136    7739
 Name: anime_id, dtype: int64,
 10007    29411
 Name: anime_id, dtype: int64,
 8955    23579
 Name: anime_id, dtype: int64,
 10907    31319
 Name: anime_id, dtype: int64,
 11427    32601
 Name: anime_id, dtype: int64,
 11886    33419
 Name: anime_id, dtype: int64,
 4301    5762
 Name: anime_id, dtype: int64,
 14650    38019
 Name: anime_id, dtype: int64,
 12934    35248
 Name: anime_id, dtype: int64,
 10432    30234
 Name: anime_id, dtype: int64,
 17464    46003
 Name: anime_id, dtype: int64,
 17465    46004
 Name: anime_id, dtype: int64,
 17437    45585
 Name: anime_id, dtype: int64,
 16296    40679
 Name: anime_id, dtype: int64,
 17463    46000
 Name: anime_id, dtype: int64,
 9977    29347
 Name: anime_id, dtype: int64,
 9762    28339
 Name: anime_id, dtype: int64,
 11543    32813
 Name: anime_id, dtype: int64,
 4242    5628
 Name: anime_id, dtype: int64,
 2627    2863
 Name: anime_id, dtype: int64,
 15993    40148
 Name: anime_id, dtype: int64,
 16439    40924
 Name: anime_id, dtype: int64,
 7274    15527
 Name: anime_id, dtype: int64,
 13902    36840
 Name: anime_id, dtype: int64,
 2628    2864
 Name: anime_id, dtype: int64,
 2262    2467
 Name: anime_id, dtype: int64,
 9104    24181
 Name: anime_id, dtype: int64,
 12190    33975
 Name: anime_id, dtype: int64,
 11046    31646
 Name: anime_id, dtype: int64,
 12898    35180
 Name: anime_id, dtype: int64,
 12530    34647
 Name: anime_id, dtype: int64,
 9869    28789
 Name: anime_id, dtype: int64,
 14763    38154
 Name: anime_id, dtype: int64,
 16564    41204
 Name: anime_id, dtype: int64,
 16553    41189
 Name: anime_id, dtype: int64,
 5527    8774
 Name: anime_id, dtype: int64,
 5164    7809
 Name: anime_id, dtype: int64,
 10676    30829
 Name: anime_id, dtype: int64,
 16552    41188
 Name: anime_id, dtype: int64,
 5848    9624
 Name: anime_id, dtype: int64,
 6694    12131
 Name: anime_id, dtype: int64,
 12200    33993
 Name: anime_id, dtype: int64,
 4905    7113
 Name: anime_id, dtype: int64,
 13868    36793
 Name: anime_id, dtype: int64,
 14593    37956
 Name: anime_id, dtype: int64,
 12014    33696
 Name: anime_id, dtype: int64,
 10172    29809
 Name: anime_id, dtype: int64,
 276    300
 Name: anime_id, dtype: int64,
 1117    1225
 Name: anime_id, dtype: int64,
 3222    3685
 Name: anime_id, dtype: int64,
 10615    30665
 Name: anime_id, dtype: int64,
 5456    8646
 Name: anime_id, dtype: int64,
 6456    10979
 Name: anime_id, dtype: int64,
 14726    38101
 Name: anime_id, dtype: int64,
 15800    39783
 Name: anime_id, dtype: int64,
 2270    2475
 Name: anime_id, dtype: int64,
 13245    35746
 Name: anime_id, dtype: int64,
 7075    13971
 Name: anime_id, dtype: int64,
 4184    5548
 Name: anime_id, dtype: int64,
 4305    5773
 Name: anime_id, dtype: int64,
 10084    29643
 Name: anime_id, dtype: int64,
 8353    20913
 Name: anime_id, dtype: int64,
 15086    38735
 Name: anime_id, dtype: int64,
 16253    40602
 Name: anime_id, dtype: int64,
 11570    32853
 Name: anime_id, dtype: int64,
 4686    6670
 Name: anime_id, dtype: int64,
 12119    33865
 Name: anime_id, dtype: int64,
 16660    41457
 Name: anime_id, dtype: int64,
 11650    32998
 Name: anime_id, dtype: int64,
 12185    33964
 Name: anime_id, dtype: int64,
 12614    34777
 Name: anime_id, dtype: int64,
 13843    36756
 Name: anime_id, dtype: int64,
 16997    42481
 Name: anime_id, dtype: int64,
 296    320
 Name: anime_id, dtype: int64,
 15072    38712
 Name: anime_id, dtype: int64,
 15314    39057
 Name: anime_id, dtype: int64,
 4455    6094
 Name: anime_id, dtype: int64,
 10220    29902
 Name: anime_id, dtype: int64,
 10425    30214
 Name: anime_id, dtype: int64,
 16608    41319
 Name: anime_id, dtype: int64,
 5897    9776
 Name: anime_id, dtype: int64,
 6522    11339
 Name: anime_id, dtype: int64,
 6352    10737
 Name: anime_id, dtype: int64,
 12960    35285
 Name: anime_id, dtype: int64,
 4135    5447
 Name: anime_id, dtype: int64,
 1182    1295
 Name: anime_id, dtype: int64,
 11387    32484
 Name: anime_id, dtype: int64,
 1219    1349
 Name: anime_id, dtype: int64,
 3889    4934
 Name: anime_id, dtype: int64,
 13378    36039
 Name: anime_id, dtype: int64,
 3053    3463
 Name: anime_id, dtype: int64,
 16058    40272
 Name: anime_id, dtype: int64,
 15418    39184
 Name: anime_id, dtype: int64,
 11847    33337
 Name: anime_id, dtype: int64,
 15707    39610
 Name: anime_id, dtype: int64,
 13231    35720
 Name: anime_id, dtype: int64,
 1216    1346
 Name: anime_id, dtype: int64,
 342    366
 Name: anime_id, dtype: int64,
 1980    2163
 Name: anime_id, dtype: int64,
 4596    6443
 Name: anime_id, dtype: int64,
 5011    7453
 Name: anime_id, dtype: int64,
 3790    4718
 Name: anime_id, dtype: int64,
 6702    12149
 Name: anime_id, dtype: int64,
 7194    14941
 Name: anime_id, dtype: int64,
 10193    29850
 Name: anime_id, dtype: int64,
 15985    40137
 Name: anime_id, dtype: int64,
 6866    12951
 Name: anime_id, dtype: int64,
 5285    8216
 Name: anime_id, dtype: int64,
 30    49
 Name: anime_id, dtype: int64,
 5844    9611
 Name: anime_id, dtype: int64,
 31    50
 Name: anime_id, dtype: int64,
 908    1003
 Name: anime_id, dtype: int64,
 280    304
 Name: anime_id, dtype: int64,
 279    303
 Name: anime_id, dtype: int64,
 795    880
 Name: anime_id, dtype: int64,
 2011    2198
 Name: anime_id, dtype: int64,
 2810    3090
 Name: anime_id, dtype: int64,
 2643    2884
 Name: anime_id, dtype: int64,
 8783    22831
 Name: anime_id, dtype: int64,
 281    305
 Name: anime_id, dtype: int64,
 17325    44040
 Name: anime_id, dtype: int64,
 282    306
 Name: anime_id, dtype: int64,
 9328    25397
 Name: anime_id, dtype: int64,
 4349    5877
 Name: anime_id, dtype: int64,
 6615    11759
 Name: anime_id, dtype: int64,
 7068    13939
 Name: anime_id, dtype: int64,
 7061    13859
 Name: anime_id, dtype: int64,
 11108    31763
 Name: anime_id, dtype: int64,
 2622    2852
 Name: anime_id, dtype: int64,
 8664    22419
 Name: anime_id, dtype: int64,
 6723    12291
 Name: anime_id, dtype: int64,
 7409    16273
 Name: anime_id, dtype: int64,
 287    311
 Name: anime_id, dtype: int64,
 289    313
 Name: anime_id, dtype: int64,
 290    314
 Name: anime_id, dtype: int64,
 288    312
 Name: anime_id, dtype: int64,
 12626    34800
 Name: anime_id, dtype: int64,
 11120    31790
 Name: anime_id, dtype: int64,
 11320    32301
 Name: anime_id, dtype: int64,
 15045    38670
 Name: anime_id, dtype: int64,
 6558    11541
 Name: anime_id, dtype: int64,
 15803    39790
 Name: anime_id, dtype: int64,
 5265    8181
 Name: anime_id, dtype: int64,
 15335    39093
 Name: anime_id, dtype: int64,
 4044    5246
 Name: anime_id, dtype: int64,
 3184    3635
 Name: anime_id, dtype: int64,
 10272    29980
 Name: anime_id, dtype: int64,
 12837    35113
 Name: anime_id, dtype: int64,
 15699    39590
 Name: anime_id, dtype: int64,
 1180    1292
 Name: anime_id, dtype: int64,
 7030    13709
 Name: anime_id, dtype: int64,
 9671    27939
 Name: anime_id, dtype: int64,
 3903    4970
 Name: anime_id, dtype: int64,
 2574    2796
 Name: anime_id, dtype: int64,
 12040    33736
 Name: anime_id, dtype: int64,
 71    92
 Name: anime_id, dtype: int64,
 3236    3711
 Name: anime_id, dtype: int64,
 11845    33326
 Name: anime_id, dtype: int64,
 220    244
 Name: anime_id, dtype: int64,
 4199    5564
 Name: anime_id, dtype: int64,
 11641    32977
 Name: anime_id, dtype: int64,
 13938    36904
 Name: anime_id, dtype: int64,
 14617    37985
 Name: anime_id, dtype: int64,
 16032    40215
 Name: anime_id, dtype: int64,
 17424    45489
 Name: anime_id, dtype: int64,
 15150    38815
 Name: anime_id, dtype: int64,
 5626    9056
 Name: anime_id, dtype: int64,
 16035    40222
 Name: anime_id, dtype: int64,
 5862    9689
 Name: anime_id, dtype: int64,
 14478    37769
 Name: anime_id, dtype: int64,
 9746    28241
 Name: anime_id, dtype: int64,
 4785    6852
 Name: anime_id, dtype: int64,
 14234    37403
 Name: anime_id, dtype: int64,
 12673    34881
 Name: anime_id, dtype: int64,
 4634    6535
 Name: anime_id, dtype: int64,
 11315    32294
 Name: anime_id, dtype: int64,
 3942    5053
 Name: anime_id, dtype: int64,
 1630    1791
 Name: anime_id, dtype: int64,
 6771    12501
 Name: anime_id, dtype: int64,
 2185    2387
 Name: anime_id, dtype: int64,
 1486    1635
 Name: anime_id, dtype: int64,
 1487    1636
 Name: anime_id, dtype: int64,
 1485    1634
 Name: anime_id, dtype: int64,
 2341    2554
 Name: anime_id, dtype: int64,
 11316    32295
 Name: anime_id, dtype: int64,
 9181    24699
 Name: anime_id, dtype: int64,
 9795    28531
 Name: anime_id, dtype: int64,
 1391    1533
 Name: anime_id, dtype: int64,
 1784    1957
 Name: anime_id, dtype: int64,
 9482    26189
 Name: anime_id, dtype: int64,
 12535    34656
 Name: anime_id, dtype: int64,
 34    53
 Name: anime_id, dtype: int64,
 370    394
 Name: anime_id, dtype: int64,
 2916    3266
 Name: anime_id, dtype: int64,
 4711    6709
 Name: anime_id, dtype: int64,
 3315    3835
 Name: anime_id, dtype: int64,
 3218    3680
 Name: anime_id, dtype: int64,
 662    719
 Name: anime_id, dtype: int64,
 4309    5784
 Name: anime_id, dtype: int64,
 5313    8285
 Name: anime_id, dtype: int64,
 17139    42847
 Name: anime_id, dtype: int64,
 2335    2548
 Name: anime_id, dtype: int64,
 4447    6075
 Name: anime_id, dtype: int64,
 11166    31908
 Name: anime_id, dtype: int64,
 4379    5931
 Name: anime_id, dtype: int64,
 1861    2041
 Name: anime_id, dtype: int64,
 6845    12865
 Name: anime_id, dtype: int64,
 1726    1895
 Name: anime_id, dtype: int64,
 16093    40337
 Name: anime_id, dtype: int64,
 15328    39085
 Name: anime_id, dtype: int64,
 14117    37204
 Name: anime_id, dtype: int64,
 15324    39078
 Name: anime_id, dtype: int64,
 17057    42653
 Name: anime_id, dtype: int64,
 11478    32717
 Name: anime_id, dtype: int64,
 10965    31485
 Name: anime_id, dtype: int64,
 16055    40266
 Name: anime_id, dtype: int64,
 16709    41555
 Name: anime_id, dtype: int64,
 7213    15061
 Name: anime_id, dtype: int64,
 8780    22819
 Name: anime_id, dtype: int64,
 10681    30845
 Name: anime_id, dtype: int64,
 9857    28723
 Name: anime_id, dtype: int64,
 11537    32806
 Name: anime_id, dtype: int64,
 2150    2350
 Name: anime_id, dtype: int64,
 6886    13053
 Name: anime_id, dtype: int64,
 11535    32804
 Name: anime_id, dtype: int64,
 80    101
 Name: anime_id, dtype: int64,
 774    857
 Name: anime_id, dtype: int64,
 3282    3791
 Name: anime_id, dtype: int64,
 5665    9201
 Name: anime_id, dtype: int64,
 206    230
 Name: anime_id, dtype: int64,
 658    713
 Name: anime_id, dtype: int64,
 13373    36032
 Name: anime_id, dtype: int64,
 614    656
 Name: anime_id, dtype: int64,
 8544    21861
 Name: anime_id, dtype: int64,
 5871    9721
 Name: anime_id, dtype: int64,
 16368    40801
 Name: anime_id, dtype: int64,
 11328    32323
 Name: anime_id, dtype: int64,
 13907    36848
 Name: anime_id, dtype: int64,
 16389    40835
 Name: anime_id, dtype: int64,
 2034    2221
 Name: anime_id, dtype: int64,
 81    102
 Name: anime_id, dtype: int64,
 5105    7659
 Name: anime_id, dtype: int64,
 7580    17082
 Name: anime_id, dtype: int64,
 1573    1734
 Name: anime_id, dtype: int64,
 11010    31580
 Name: anime_id, dtype: int64,
 11807    33253
 Name: anime_id, dtype: int64,
 13752    36625
 Name: anime_id, dtype: int64,
 11207    32015
 Name: anime_id, dtype: int64,
 10691    30868
 Name: anime_id, dtype: int64,
 10692    30869
 Name: anime_id, dtype: int64,
 10693    30870
 Name: anime_id, dtype: int64,
 7637    17325
 Name: anime_id, dtype: int64,
 17247    43467
 Name: anime_id, dtype: int64,
 9302    25241
 Name: anime_id, dtype: int64,
 1347    1485
 Name: anime_id, dtype: int64,
 10363    30123
 Name: anime_id, dtype: int64,
 10853    31173
 Name: anime_id, dtype: int64,
 10964    31483
 Name: anime_id, dtype: int64,
 259    283
 Name: anime_id, dtype: int64,
 8957    23583
 Name: anime_id, dtype: int64,
 5581    8950
 Name: anime_id, dtype: int64,
 285    309
 Name: anime_id, dtype: int64,
 5507    8731
 Name: anime_id, dtype: int64,
 15945    40057
 Name: anime_id, dtype: int64,
 3883    4923
 Name: anime_id, dtype: int64,
 5495    8713
 Name: anime_id, dtype: int64,
 1871    2051
 Name: anime_id, dtype: int64,
 2472    2688
 Name: anime_id, dtype: int64,
 2473    2689
 Name: anime_id, dtype: int64,
 10514    30396
 Name: anime_id, dtype: int64,
 7078    14007
 Name: anime_id, dtype: int64,
 2119    2316
 Name: anime_id, dtype: int64,
 8625    22199
 Name: anime_id, dtype: int64,
 9559    26449
 Name: anime_id, dtype: int64,
 257    281
 Name: anime_id, dtype: int64,
 3804    4744
 Name: anime_id, dtype: int64,
 4304    5772
 Name: anime_id, dtype: int64,
 14347    37561
 Name: anime_id, dtype: int64,
 13760    36637
 Name: anime_id, dtype: int64,
 9256    25013
 Name: anime_id, dtype: int64,
 10498    30370
 Name: anime_id, dtype: int64,
 82    103
 Name: anime_id, dtype: int64,
 343    367
 Name: anime_id, dtype: int64,
 6267    10552
 Name: anime_id, dtype: int64,
 10047    29513
 Name: anime_id, dtype: int64,
 8621    22179
 Name: anime_id, dtype: int64,
 4856    6987
 Name: anime_id, dtype: int64,
 5436    8577
 Name: anime_id, dtype: int64,
 12229    34051
 Name: anime_id, dtype: int64,
 4079    5304
 Name: anime_id, dtype: int64,
 1727    1896
 Name: anime_id, dtype: int64,
 13223    35706
 Name: anime_id, dtype: int64,
 2094    2288
 Name: anime_id, dtype: int64,
 2095    2289
 Name: anime_id, dtype: int64,
 3970    5112
 Name: anime_id, dtype: int64,
 4540    6287
 Name: anime_id, dtype: int64,
 2718    2979
 Name: anime_id, dtype: int64,
 5934    9849
 Name: anime_id, dtype: int64,
 28    47
 Name: anime_id, dtype: int64,
 15942    40054
 Name: anime_id, dtype: int64,
 13916    36864
 Name: anime_id, dtype: int64,
 7395    16201
 Name: anime_id, dtype: int64,
 6609    11745
 Name: anime_id, dtype: int64,
 7377    16059
 Name: anime_id, dtype: int64,
 17213    43013
 Name: anime_id, dtype: int64,
 4449    6077
 Name: anime_id, dtype: int64,
 14812    38274
 Name: anime_id, dtype: int64,
 16644    41433
 Name: anime_id, dtype: int64,
 7111    14231
 Name: anime_id, dtype: int64,
 14442    37706
 Name: anime_id, dtype: int64,
 13923    36875
 Name: anime_id, dtype: int64,
 8071    19429
 Name: anime_id, dtype: int64,
 9190    24751
 Name: anime_id, dtype: int64,
 5274    8194
 Name: anime_id, dtype: int64,
 4600    6452
 Name: anime_id, dtype: int64,
 4450    6078
 Name: anime_id, dtype: int64,
 8766    22729
 Name: anime_id, dtype: int64,
 9621    27655
 Name: anime_id, dtype: int64,
 9955    29223
 Name: anime_id, dtype: int64,
 1311    1442
 Name: anime_id, dtype: int64,
 3990    5157
 Name: anime_id, dtype: int64,
 3323    3843
 Name: anime_id, dtype: int64,
 5537    8812
 Name: anime_id, dtype: int64,
 4092    5330
 Name: anime_id, dtype: int64,
 12099    33839
 Name: anime_id, dtype: int64,
 11180    31941
 Name: anime_id, dtype: int64,
 15215    38906
 Name: anime_id, dtype: int64,
 13356    36001
 Name: anime_id, dtype: int64,
 12371    34350
 Name: anime_id, dtype: int64,
 1072    1177
 Name: anime_id, dtype: int64,
 16066    40292
 Name: anime_id, dtype: int64,
 3437    4010
 Name: anime_id, dtype: int64,
 7771    17901
 Name: anime_id, dtype: int64,
 11018    31588
 Name: anime_id, dtype: int64,
 4057    5270
 Name: anime_id, dtype: int64,
 12148    33903
 Name: anime_id, dtype: int64,
 10367    30128
 Name: anime_id, dtype: int64,
 3120    3549
 Name: anime_id, dtype: int64,
 2333    2546
 Name: anime_id, dtype: int64,
 2038    2225
 Name: anime_id, dtype: int64,
 5823    9547
 Name: anime_id, dtype: int64,
 6391    10813
 Name: anime_id, dtype: int64,
 5824    9548
 Name: anime_id, dtype: int64,
 5825    9549
 Name: anime_id, dtype: int64,
 16258    40613
 Name: anime_id, dtype: int64,
 11553    32828
 Name: anime_id, dtype: int64,
 3617    4389
 Name: anime_id, dtype: int64,
 554    591
 Name: anime_id, dtype: int64,
 801    886
 Name: anime_id, dtype: int64,
 1589    1750
 Name: anime_id, dtype: int64,
 1588    1749
 Name: anime_id, dtype: int64,
 5476    8676
 Name: anime_id, dtype: int64,
 5643    9117
 Name: anime_id, dtype: int64,
 6505    11235
 Name: anime_id, dtype: int64,
 7354    15951
 Name: anime_id, dtype: int64,
 6801    12669
 Name: anime_id, dtype: int64,
 5978    9925
 Name: anime_id, dtype: int64,
 8609    22147
 Name: anime_id, dtype: int64,
 10417    30206
 Name: anime_id, dtype: int64,
 10313    30056
 Name: anime_id, dtype: int64,
 14183    37320
 Name: anime_id, dtype: int64,
 11126    31810
 Name: anime_id, dtype: int64,
 5838    9595
 Name: anime_id, dtype: int64,
 11112    31771
 Name: anime_id, dtype: int64,
 13873    36800
 Name: anime_id, dtype: int64,
 15766    39709
 Name: anime_id, dtype: int64,
 12086    33818
 Name: anime_id, dtype: int64,
 8390    21069
 Name: anime_id, dtype: int64,
 2979    3359
 Name: anime_id, dtype: int64,
 1819    1998
 Name: anime_id, dtype: int64,
 16546    41180
 Name: anime_id, dtype: int64,
 1115    1223
 Name: anime_id, dtype: int64,
 16944    42344
 Name: anime_id, dtype: int64,
 9915    28981
 Name: anime_id, dtype: int64,
 13316    35923
 Name: anime_id, dtype: int64,
 11804    33245
 Name: anime_id, dtype: int64,
 10837    31139
 Name: anime_id, dtype: int64,
 14466    37747
 Name: anime_id, dtype: int64,
 4602    6462
 Name: anime_id, dtype: int64,
 7217    15085
 Name: anime_id, dtype: int64,
 8312    20655
 Name: anime_id, dtype: int64,
 2059    2249
 Name: anime_id, dtype: int64,
 2156    2356
 Name: anime_id, dtype: int64,
 16482    41029
 Name: anime_id, dtype: int64,
 13034    35402
 Name: anime_id, dtype: int64,
 9661    27881
 Name: anime_id, dtype: int64,
 4700    6690
 Name: anime_id, dtype: int64,
 4539    6286
 Name: anime_id, dtype: int64,
 12471    34530
 Name: anime_id, dtype: int64,
 10204    29863
 Name: anime_id, dtype: int64,

In [55]:
len(piviot_table)

11810